@tailwind base;
@tailwind components;
@tailwind utilities;


.carouselImage{
  height: 400px  !important; 
}
/* body {
  width: 1550px;
  margin-left: auto;
  margin-right: auto;
 
} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
